numpy
pandas
scipy
scikit-learn

torch
torchvision

opencv-python-headless
av
pillow

matplotlib

pyyaml
python-dotenv

mlflow

fastapi
uvicorn[standard]
python-multipart
pydantic

gradio

pyarrow

boto3

tqdm
joblib
requests

jupyterlab
ipykernel
